body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #1de592;
  width: 400px;
  padding: 40px;
  margin: 100px auto;
  border-radius: 15px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: black;
}

p {
  margin: 20px 0 30px 0;
  color: black;
}

button {
  background-color: white;
  color: black;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}
